html {
  background-image: url(https://wallpapercave.com/wp/wp7595049.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P'
}

h1, h2, input{
  text-align: center;
}

.input-container {
  justify-content: center;
  display: grid;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 5px;
}

.intro {
  font-size: 5px;
  width: 200px;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  line-height: 7px;
}

.display-container {
  text-align: center;
  margin: auto;
  font-size: 10px;
}

.submit-button, .city-name {
  margin: auto;
  border-radius: 3px;
  font-size: 7px;
  font-family: 'Press Start 2P';
  padding: 4px;
}

.city-name {
  width: 80px;
  border: none;
}

.submit-button {
  border-color: rgb(3, 79, 243);
}