html {
  background-image: url(https://pbs.twimg.com/media/DamG-BLXcAM_8U_?format=jpg&name=large);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}