<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SkySong</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  </head>
  <body>
   <p class="logo">SkySong</p>
   <p class="intro">Welcome to SkySong <br> Please choose a city and a song will be recommended based on the current temperature</p>
   <form method="get">
    <div class="input-container">
      <input type="text" class="city-name" name="city" placeholder="Enter City"> <br />
      <button type="submit" class="submit-button">Submit</button>
    </div>
   </form>
  </body>
</html>
