<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SkySong</title>
  </head>
  <body>
   <h1>SkySong</h1>
   <form method="get">
    <label>What city do u want the temp for</label>
    <input type="text" name="city" id="city">
    <input type="submit" name="button">
   </form>
  </body>
</html>

<style> /* move this to the css file in the static folder*/
  html {
    background-image: linear-gradient(rgb(159, 159, 219) , rgb(78, 43, 190), rgb(69, 29, 171));
    background-attachment: fixed;
  }
</style>