<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Response</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">
  </head>
  <body>

    <p class="logo">SkySong</p>
    <div class="display-container">
      <p class="city_name">{{city}}</p>
      <p class="temperature">{{temperature}}ºC</p>
      <p class="low-temperature">LO:{{minimum_temperature}}ºC</p>
      <p class="high-temperature">HI:{{maximum_temperature}}ºC</p>
      <br>
      <!--
      <img class="sunrise-icon" src="static/images/surise.png">
      <img class="sunrise-icon" src="static/images/sunset.png">
      -->
      <p class="sunrise-text">{{sunrise}}</p>
      <p class="sunset-text">{{sunset}}</p>
      <p>Recommended song of the hour</p>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{song_id}}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

      </button>
    </div>
  </body>
</html>