<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Response</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <p class="logo">SkySong</p>
    <div class="display-container">
      <p class="city_name">{{city}}</p>
      <p class="temperature">{{temperature}}ºC</p>
    </div>
  </body>
</html>