<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SkySong</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">

  </head>
  <body>
   <p class="logo">SkySong</p>
   <div class="middle-text">
    <h1>Welcome to SkySong</h1>
    <p class="intro">Please Enter a City</p>
    <form method="get">
     <div class="input-container">
       <input type="text" class="city-name" name="city" placeholder="Enter City"> <br />
       <button type="submit" class="submit-button">Submit</button>
     </div>
   </div>
   </form>
  </body>
</html>
