<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SkySong</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap" rel="stylesheet">

  </head>
  <body>
   <p class="logo">SkySong</p>
   <div id="intro">
    <h1>Welcome to SkySong</h1>
    <p id="get-city">Please Enter a City</p>
    <form method="get">
     <div id="get-input">
       <input type="text" class="city-name" name="city" placeholder="Enter City"> <br />
       <button type="submit" id="submit-button">Submit</button>
     </div>
   </div>
   </form>
   <div id="footer">made with 💚 by <a href="https://github.com/26samaahmed" target="_blank">sama ahmed</a> as my first official project!</div>
  </body>
</html>
