html {
  background-image: url(https://wallpapercave.com/wp/wp7595049.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P'
}

h1, h2, input{
  text-align: center;
}

.input-container {
  justify-content: center;
  display: grid;
  align-items: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 30px;
}

.intro {
  font-size: 28px;
  width: 1200px;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-bottom: 30px;
  line-height: 40px;
}

.display-container {
  text-align: center;
  margin: auto;
  font-size: 30px;
}

.submit-button, .city-name {
  margin: auto;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Press Start 2P';
  padding: 20px;
}

.city-name {
  width: 330px;
  border: none;
}

.submit-button {
  border-color: rgb(3, 79, 243);
  border-width: 7px;
}

.middle-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.low-temperature, .high-temperature{
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.sunrise-text, .sunset-text {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}